@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes hover {
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-4px);
  }
}

@-webkit-keyframes toastup {
  from {
    scale-x: 0;
    scale-y: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0) scale(0);
    transform: translate3d(0, 20px, 0) scale(0);
    transform-origin: 16px 100%;
  }

  to {
    scale-x: 1;
    scale-y: 1;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transform-origin: 16px 100%;
  }
}
@keyframes toastup {
  from {
    scale-x: 0;
    scale-y: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0) scale(0);
    transform: translate3d(0, 20px, 0) scale(0);
    transform-origin: 16px 100%;
  }

  to {
    scale-x: 1;
    scale-y: 1;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transform-origin: 16px 100%;
  }
}

@-webkit-keyframes toastdown {
  from {
    scale-x: 1;
    scale-y: 1;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transform-origin: 16px 100%;
  }

  to {
    scale-x: 0;
    scale-y: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0) scale(0);
    transform: translate3d(0, 20px, 0) scale(0);
    transform-origin: 16px 100%;
  }
}
@keyframes toastdown {
  from {
    scale-x: 1;
    scale-y: 1;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transform-origin: 16px 100%;
  }

  to {
    scale-x: 0;
    scale-y: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0) scale(0);
    transform: translate3d(0, 20px, 0) scale(0);
    transform-origin: 16px 100%;
  }
}

.toastup {
  -webkit-animation-name: toastup;
  animation-name: toastup;

  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.toastdown {
  -webkit-animation-name: toastdown;
  animation-name: toastdown;

  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 153, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 153, 255, 0);
  }
}

.pulse-animation {
  animation: pulse-animation 2s infinite;
}

.dark {
  fill: black;
}

.ghost {
  filter: drop-shadow(6px 6px 0px rgb(0 0 0 / 1));
  /* animation: float 3s ease-in-out infinite; */
  animation-name: hover2;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ghost-hover-small {
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(-4px);
  }
}

@keyframes ghost-hover-medium {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes ghost-hover-large {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
